---
title: Dopetrope
layout: default
---
	<body class="right-sidebar">

			{% include header_landing.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<!-- Content -->
							<article class="box post">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></a>
									<header>
										<h2>History</h2>
										<br>
										<h3>Award</h3>
									</header>
									<p>
											- 2013 경상남도 진주시 게임 창작 대회 1위<br>
											- 2013 청소년 게임 캠프 게임 기획 부문 위메이드 특별상<br>
											- 2013 울산애니원고등학교 경진대회 게임 기획 입선<br>
											- 2014 제 13회 우송대학교 주최 Korea WI Content Contest 컨텐츠 개발 부문 장려상<br>
											- 2014 교내 전공 인증제 4위 <br>
											- 2015 울산기능경기대회 게임 개발 은상<br>
											- 2015 제 14회 우송대학교 주최 Korea WI Content Contest 컨텐츠 개발 부문 금상<br>
											- 2015 Smarteen App Challenge 2015 게임 개발 가작<br>
											- 2015 제 50회 전국 기능 경기 대회 게임 개발 부문 우수상 4위<br>
											- 2015 교내 전공 인증제 2위<br>
											- 2016 서강대학교 게임 공모전 게임 개발 입선<br>
											- 2016 울산기능경기대회 게임 개발 은상<br>
											- 2016 Smarteen App Challenge 2016 게임 개발 장려상<br>
									</p>
									<section>
										<header>
											<h3>Activity</h3>
										</header>
										<p>
												- 2014 울산애니원고등학교 컴퓨터 게임 개발과 수석 입학<br>
												- 2014 제 2회 인디게임 위크엔드 게임 개발 직군 참가<br>
												- 2014 제 6회 앱잼 게임 개발 직군 참가<br>
												- 2014 마이크로소프트 코드 챌린지 본선 진출<br>
												- 2014 교내 전공 시사회 게임 출품 / 발표 (Anione Marble)<br>
												- 2015 울산 창의 체험 축제 학과 부스 운영<br>
												- 2015 유아 놀이 교육 연구소 유아 어플리케이션 외주<br>
												- 2015 게임 개발사 KOG 및 계명대학교 게임 공학과 체험 활동<br>
												- 2015 제 3회 인디게임 위크엔드 게임 개발 직군 참가<br>
												- 2015 제 8회 앱잼 게임 개발 직군 참가<br>
												- 2015 제 9회 앱잼 게임 개발 직군 참가<br>
												- 2015 교내 전공 시사회 게임 출품 / 발표 (Star Light)<br>
												- 2015 재외 동포 학교 설명회 도우미<br>
												- 2015 서울창조경제타운 6개월 챌린지 플랫폼 사업 선정 (Booster)<br>
												- 2016 스페인 바르셀로나GSMA 모바일 월드 콩그레스 출품 (Booster)<br>
												- 2016 재외동포 학과 소개 발표<br>
										</p>
									</section>

									<section>
											<header>
												<h3>Group</h3>
											</header>
											<p>
													- 2012 ~ 2013 동아리 Pcsh Soft 부장<br>
													- 2013 ~ 2014 청소년 게임 개발팀 Daily Soft 게임 기획 활동<br>
													- 2013 ~ 2014 청소년 게임 개발팀 키읔게임즈 활동<br>
													- 2013 ~ 2016 청소년 봉사단체 한별단 활동<br>
													- 2015 ~ 2016 웹 프로그래밍 동아리 Guild 부부장<br>
													- 2015 ~ 2016 'Bill Bird' Client Programmer<br>
													- 2017 ~ 2018 대한민국 청소년 기자단 4기 IT·과학부 기자<br>
													- 2016 .10 ~ It.Soft Founder.CEO<br>
													- 2016 .11 ~ SundayToz Client Programmer<br>
											</p>
										</section>

										
									<section>
											<header>
												<h3>License</h3>
											</header>
											<p>
													- 2015 정보처리기능사<br>
													- 2016 컴퓨터 그래픽스 운용 기능사<br>
											</p>
										</section>
								</article>

						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>